    .nav_li_link:hover {
        color: #EE8313;
    }

    .orang_btn:hover {
        background-color: #ef5e10;
    }

    .rent__link:hover {
        color: #FFCC2C
    }

    .rentals-link:hover {
        color: #ef5e10;
    }

    .footer-nav__link:hover {
        color: #EE8313;
    }