/* шрифт */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');
/* базовые настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}

.orang_btn {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}

.contain {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 10px;
} 

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 40px 0px 107px 0px;
}

.header__contant-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600px;
}

.header-logo__img {
    width: 48px;
    height: 48px;
}

.nav-main_header {
    margin-left: auto;
}

.nav-main_list{
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

.header_Booking-btn {
    margin-right: 40px;
}

.select-header-lng {
    padding: 13px;
    background-color: #EE8313;
    border: none;
    font-weight: 600;
}

.option-header-lng {
    background-color: #FFF;
    font-weight: 600;
}

.nav_li_link:hover {
    color: #EE8313;
}

.orang_btn:hover {
    background-color: #ef5e10;
}


/* section cards-cars start */

#main-section-Country {
    background-color: #1F1905;
}

.card-inCountryCar {
    border: 3px solid #e68027;
    border-radius: 5%;
    width: 250px;
    height: 300px;
    background-color: #000;
    margin: 0px 20px 20px 0px;
}

.card-inCountryCar:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}


.CountruCars-div_wrap {
    padding: 5px 20px;
    height: 300px;
    width: 250px;
}

.CountryCar-Manage {
    color: #ef5e10;
    margin-top: 20px;
    position: absolute;
}

.CountryCar-Manage::after {
    position: absolute;
    content: "";
    top: 55%;
    right: 0;
    left: 70px;
    height: 10px;
    width: 8px;
    background: url(/img/Vector\ 1.svg) 50%/cover no-repeat;
    transform: translateY(-50%);
}

.InCountryCars-img {
    width: 200px;
    height: 120px;
}

.dubai-cards-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Jakarta-card-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.London-card-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Madrid-card-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Paris-card-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Roma-card-cars {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Footer section start */

#footer-section {
    background: #1F1905;
    padding-top: 40px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

.footerLogo-Wrap {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600;
}

.logo-footerImg {
    width: 48px;
    height: 48px;
}

.footer-about__text {
    font-size: 18px;
    line-height: 32px;
    max-width: 235px;
}

.footer-wrap-nav {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0px auto;
}

.footer-nav__header {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}

.footer-nav-item {
    margin-bottom: 28px;
    line-height: 20px;
}

.footer-nav__link {
    color: rgb(255 255 255 / 80%);
}

.footer-copyrighting {
    background-color: #EE8313;
    display: flex;
    justify-content: center;
}

.footer-about {
    margin-top: 40px;
}
/* Footer section finish */