@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');
/* базовые настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}

.orang_btn {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

#header {
    padding: 40px 0px 107px 0px;
}

.header__contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600px;
}

.header-logo__img {
    width: 48px;
    height: 48px;
}

.nav-main_header {
    margin-left: auto;
}

.nav-main_list{
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

.header_Booking-btn {
    margin-right: 40px;
}

.select-header-lng {
    padding: 13px;
    background-color: #EE8313;
    border: none;
    font-weight: 600;
}

.option-header-lng {
    background-color: #FFF;
    font-weight: 600;
}

/* Effects start*/

.nav_li_link:hover {
    color: #EE8313;
}

.orang_btn:hover {
    background-color: #ef5e10;
}

/* Effects finish*/

#main-section_supercars {
    background-color: #1F1905;
}

.SuperCars-img {
    max-width: 200px;
}

.card-of-SuperCar {
    border: 3px solid #e68027;
    border-radius: 5%;
    max-width: 250px;
    height: 300px;
    background-color: #000;
}

.SuperCar-div_wrap {
    padding: 5px 20px;
    height: 300px;
}

.SuperCar-Manage {
    color: #ef5e10;
    margin-top: 20px;
    position: absolute;
}

.SuperCar-Manage::after {
    position: absolute;
    content: "";
    top: 55%;
    right: 0;
    left: 70px;
    height: 10px;
    width: 8px;
    background: url(/img/Vector\ 1.svg) 50%/cover no-repeat;
    transform: translateY(-50%);
}

.card-of-SuperCar:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}

.cards-supercars {
    padding-top: 20px;
}